            /* body */
            
            body {
                margin: 0;
                padding: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            /* Navbar style */
            
            nav.navbar {
                background-color: #F1F3FF;
            }
            
            .navbar-brand {
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 2px;
            }
            
            .offcanvas-body ul li a {
                color: #646464;
                margin: 0 10px;
            }
            
            .offcanvas-body ul li a:hover:not(.btn) {
                color: black;
                border-bottom: 2px solid black;
            }
            /* .nav-item {
   
            /* Main Page */
            
            .main-page {
                height: 100vh;
                background-color: #F1F3FF;
                position: relative;
            }
            
            .bg-car::before {
                content: "";
                position: absolute;
                background-color: #0D28A6;
                bottom: 0;
                right: 0;
                height: 50%;
                width: 50%;
                border-radius: 100px 0 0 0;
            }
            
            .tagline h2,
            .tagline a {
                margin: 24px 0;
                text-transform: capitalize;
            }
            
            .btn.btn-success {
                border: 1px solid #5CB85F;
                color: #ffffff;
                box-shadow: 1px 10px 30px -10px #5CB85F;
                display: inline-block;
                transition: all .3s;
                position: relative;
                overflow: hidden;
                z-index: 1;
            }
            
            .btn.btn-success:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #5CB85F;
                z-index: -2;
            }
            /* Why us */
            
            .why-us .card-body {
                display: flex;
                flex-direction: column;
                position: relative;
                cursor: pointer;
                transition: .5s ease;
                overflow: hidden;
                justify-content: flex-start;
            }
            
            .why-us .card-body img {
                height: 32px;
                width: 32px;
                left: 24px;
                top: 24px;
                border-radius: 0px;
            }
            
            .why-us .card-body p:nth-child(2) {
                margin-top: 5%;
                font-weight: 600;
                font-size: 17px;
            }
            
            .start-section .container {
                background-color: #0D28A6;
                border-radius: 13px;
                color: white;
                width: 100%;
            }
            
            .start-section .container * {
                margin: 16px 0;
            }
            /* owl carousel */
            
            .owl-carousel .item {
                background-color: #F1F3FF;
                padding: 30px;
                display: flex;
                justify-content: space-between;
            }
            
            .owl-carousel .gambar {
                height: 100px;
                width: 100px;
            }
            
            .owl-carousel .text img {
                /* width: 89px; */
                height: 16px;
                width: 80px;
                /* align-items: flex-start; */
                /* margin-left: 46px; */
            }
            
            .text p {
                margin-left: 42px;
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
            }
            
            .bi.bi-chevron-left,
            .bi.bi-chevron-right {
                background-color: white;
                color: black;
                font-size: 30px;
                border: 1px solid black;
                padding: 3px 10px;
                border-radius: 35px;
            }
            
            .bi.bi-chevron-left:hover,
            .bi.bi-chevron-right:hover {
                background-color: #5CB85F;
                border: 1px solid #5CB85F;
                color: white;
            }
            
            .bi.bi-star-fill {
                color: #F9CC00;
            }
            
            .carousel-item img {
                transition: all .5s;
            }
            
            .carousel-item img:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
            
            .rate img {
                margin-left: 42px;
                height: 16px;
            }
            
            .cursor-pointer {
                cursor: pointer;
                color: black;
            }
            
            .footer .bi {
                background-color: #0D28A6;
                margin-right: 16px;
                border-radius: 15px;
                padding: 5px 7px;
                font-size: 18px;
                color: white;
                border: 1px solid #0D28A6;
            }
            
            .footer .col-md-2 a {
                color: black;
            }
            
            .footer .col-md-2 a:hover {
                color: #0D28A6;
            }
            
            .footer .bi:hover {
                background-color: white;
                border: 1px solid #0D28A6;
                color: #0D28A6;
                transition: .5s ease;
            }
            /* Media Sosial */
            
            .medsos {
                margin-right: 16px;
            }
            /* Media Queri */
            
            @media (max-width: 990px) {
                .main-section {
                    height: auto;
                }
                .navbar-nav a:hover:not(.btn)::before {
                    content: "> ";
                }
                .navbar-nav a:hover:not(.btn)::after {
                    content: " <";
                }
                .navbar-nav a:hover {
                    border-bottom: none !important;
                }
            }
            
            @media (max-width:767px) {
                .bg-car::before {
                    height: 30%;
                    width: 90%;
                }
            }